@font-face {
    font-family: Coolvetica;
    src: url(https://www.dafont.com/coolvetica.font);
}

* {
    padding: 0;
    margin: 0;
    /* color: #fff; */
}
.hover{
    cursor: pointer;
}
.flex {
    display: flex;
    gap: .2vw;
}

.gray {
    color: gray;
}
.white{
    color: white;
}
/* navbar */
nav {
    width: 100%;
    height: 7vw;
    background: #161515f4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    border-bottom:1px  solid rgba(128, 128, 128, 0.488);
    z-index: 5;
}

.nav-logo {
    gap: 2vw;
    display: flex;
    align-items: center;
}

.d-shape img {
    width: 3.8vw;
    height: 4vw;
    gap: 0px;
    opacity: 0px;
}

.e-cell-logo-nav img {
    width: 10vw;
    height: 4vw;
    gap: 4.62px;
    opacity: 0px;
    margin-left: 10px;
}

.nav-items {
    color: white;
}

.nav-items ul {
    display: flex;
    list-style: none;
    gap: 2vw;
}

.nav-items ul li {
    font-family: Coolvetica;
    font-size: 1.3vw;
    font-weight: 400;
}

.bg-blue {
    color: #6E99FF;
}

.nav-register button {
    background: #6E99FF;
    font-size: 1vw;
    padding: .7vw 1.3vw .7vw 1.3vw;
    border-radius: 8px;
    color: white;
}

button:hover {
    cursor: pointer;
}

/* ui */
/* .desrupt-ui {} */

.desrupt-ui {
    width: 100vw;
}

.dream-dare-disrupt {
    padding-top: 10vw;
    background: #000;
    width: 100%;
    height: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-dream {
    margin-top: 3vw;
    color: white;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
}

.dream-dare-disrupt p {
    font-family: Coolvetica;
    font-size: 7vw;
    font-weight: 400;
    text-align: center;
    margin-left: 1vw;
}

.para-dream p {
    width: 34.4vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Quicksand;
    font-size: 1.2vw;
    font-weight: 400;
    text-align: center;
    color: #929292;
}

.dream-register {
    width: 10vw;
    height: 3vw;
    padding: 12px 32px 12px 32px;
    gap: 10px;
    border-radius: 20px;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    background: #6E99FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dream-register button {
    width: auto;
    height: 100%;
    font-family: Coolvetica;
    font-size: 1.3vw;
    font-weight: 400;
    text-align: left;
    background: #6E99FF;
    border: none;
}

.disrupt-img {
    display: flex;
    justify-content: center;
}

.disrupt-img img {
    width: 60vw;
    height: 30vw;
}

.info-startup {
    width: 100vw;
    height: 13vw;
    background-color: #121212;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-text {
    display: flex;
    align-items: center;
}

.home-text img {
    height: 5vw;
    padding: 8.25px 8.25px 5.5px 0.25px;
    gap: 0px;
    opacity: 0px;
}

.home-text p {
    font-family: Coolvetica;
    font-size: 5vw;
    font-weight: 400;
    /* line-height: 96px; */
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;

}

.startup-helped {
    /* width: 201px;
    height: 16px; */
    font-family: Coolvetica;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;
}


/* SECOND PAGE */
.india-startup {
    padding-top:3vw;
    /* width: 100vw; */
    height: fit-content;
    background: #000;
    padding-bottom: 1vw;
}

.india-startup-heading {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.india-startUp-h1 {
    font-size: 4vw;
    gap: 1.2vw;
}

.random-text {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}

.random-text p {
    font-size: 1.3vw;
    width: 34vw;
    text-align: center;
}


.workshops {
    height: 36vw;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.workshop {
    width: 24vw;
    height: 30vw;
    border: 3px solid rgb(28, 82, 183);
    border-radius: 5%;
}

.workshop-img img {
    width: 24vw;
    height: 18vw;
    border-radius: 5% 5% 0 0;
}

.workshop-content-h {
    font-size: 1.4vw;
    text-align: center;
    margin-top: 2vw;
}

.workshop-content-p {
    font-size: 1.2vw;
    width: 18vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
}


.timeline {
    padding-top: 3vw;
    border: 2px 0px 2px 0px;
    background-color: #121212;
    border-width: 2px, 0px, 2px, 0px;
    border-style: solid;
    border-color: #6D6D6D33;
    padding-bottom: 3vw;
}

.timeline-head {
    font-family: Coolvetica;
    font-size: 4.4vw;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}

.timeline-text {
    width: 34vw;
    font-family: Quicksand;
    font-size: 1.3vw;
    font-weight: 400;
    text-align: center;
    color: #929292;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vw;
}

.timeline-line {
    margin-bottom: 2vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vw;
    background-image: url("line.png");
    background-size: cover;
}

.timeline-box {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 1vw;
}

.timeline-boxes {
    height: 12vw;
    width: 14vw;
    gap: 1vw;
    border-radius: 6%;
    border: 1px;
    background-color: #0C0C0C;
    border: 1px solid #6E99FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6E99FF;
    justify-content: center;
}


.timeline-boxes-head {

    font-family: Coolvetica;
    font-size: 1.8vw;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;
}

.timeline-boxes-line {
    width: 10vw;
    height: 2px;
    gap: 0px;
    border: 1px;
    opacity: 0px;
    background-color: #929292;
}
.timeline-boxes:hover{
    border: 1px solid #46c925;
    color: #36a71a;
}

.timeline-boxes-date{
    font-family: Quicksand;
    font-size: 1.4vw;
    font-weight: 500;
    text-align: center;
}
.timeline-rules{
    text-align: center;
    margin-top: 2vw;
    font-size: .8vw;
}

.perks-disrupt {
    background-color: #000;
}

.perk-head {
    justify-content: center;
    gap: 1vw;
    font-family: Coolvetica;
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: 0.04em;
    padding-top: 8vw;
}

.perks-main {
    gap: 2vw;
    display: flex;
    margin-top: 4vw;
    padding-bottom: 5vw;
    flex-direction: column;
}

.perks-main-box {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw 3vw 2vw 4vw;
    border-radius: 12px;
    border: 2px solid #8ca5f06d;
    display: flex;
    color: white;
    opacity: .6;
}
.perks-main-box:hover{
    opacity: 1;
    border: 2px solid  #6E99FF;
}

.perks-main-box-head {
    align-items: center;
    width: 30vw;
    gap: 3vw;
    display: flex;
}

.perks-main-box-head img {
    width: 2.8vw;
    height: 3.4vw;
    background: #000;
}

.perks-main-box-head p {
    font-family: Coolvetica;
    font-size: 3.4vw;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.perks-main-box-text {
    width: 45vw;
    margin-left: 3vw;
    font-family: Quicksand;
    font-size: 1.2vw;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;
    opacity: 1;
}

.feedback-page {
    background-color: #121212;
    border-width: 2px, 0px, 2px, 0px;
    border-style: solid;
    border-color: #6D6D6D33;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-page-head {
    text-align: center;
    justify-content: center;
    width: 63vw;
    font-family: Coolvetica;
    font-size: 4vw;
    font-weight: 400;
    padding-bottom: 3vw;
    padding-top: 4vw;
    letter-spacing: 0.04em;
    color: grey;
}
.sidebar{
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.carousel-container {
    position: relative;
    width: 60%;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid #6E99FF;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    height: 28vw;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}


blockquote {
    margin: 0;
    padding: 2vw;
    font-size: 1.2vw;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

blockquote  p{
    opacity: 0.8;
}
.double-quote-open{
    height: 2.4vw;
    position: absolute;
    top: 3vw;
    left: 3.5vw;
}
.double-quote-close{
    height: 2.4vw;
    position: absolute;
    top: 3vw;
    right: 3.5vw;
}


blockquote footer img{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}
.prev, .next {
    background: none;
    border: none;
    color: green;
    font-size: 4vw;
    padding: 1vw;
    cursor: pointer;
    z-index: 2;
}


.indicators {
    text-align: center;
    margin-top: 2vw;
    padding-bottom: 2vw;
}

.indicators span {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.indicators .active {
    background-color: #fff;
}


.user-profile {
    margin-top: 5vw;
    display: flex;
    align-items: center;
    gap: 2vw;
   
}

.user-profile img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}

.user-profile-name {
    font-family: Coolvetica;
    font-size: 1.4vw;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

.user-profile-info {
    font-family: Quicksand;
    font-size: 1vw;
    font-weight: 400;
    text-align: left;
    color: #929292;
    margin-top: .2vw;
}



/* doubts */
.doubt-page {
    border: 0px 0px 2px 0px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vw;
    border-bottom: 2px  solid  #6D6D6D33;
}

.doubt-page-head {
    padding-top: 3vw;
    font-family: Coolvetica;
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;
}

.doubts-table{
    padding: 4vw;
    border: 2px solid #6E99FF;
    border-radius: 8px;
    margin-top: 2vw;
    width: 75%;
    color: white;
    margin-bottom: 2vw;
}


.faq-item {
    border-bottom: 1px solid #555;
    padding: 10px 0;
}

.faq-question {
    font-size: 2vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-bottom: .5vw;
}

.faq-question span {
    font-size: 2vw;
}

.toggle-btn{
    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 2.5vw;
    margin-right: 1vw;
    position: absolute;
    right: 1vw;
}
.close-btn {
    color: #FFFFFF;
    background-color: #121212;
    border: none;
    font-size: 1.6vw;
    margin-right: 1vw;
    position: absolute;
    right: 1vw;
    display: none;
}

.faq-answer {
    display: none;
    margin-top: 1vw;
    font-size: 1.1vw;
    padding-bottom: .5vw;
}
/* footer */

footer{
    display: flex;
    background: #000;
    padding: 5vw;
}

.f-part-1{
    width: 20vw;
}
.f-part-1 img{
    height: 7vw;
    width: 20vw;
}
.email-f{
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
    color: white;
}
.email-f span{
    font-size: 1.4vw;
    opacity: 0.8;
    font: bolder;
}
.email-f p{
    opacity: 0.5;
    font-size: 1vw;
}
.f-part-2{
    width: 20vw;
    margin-left: 3vw;
}

.f-part-2 img{
    padding-top: 2vw;
    height: 4vw;
    width: 16vw;
    padding-bottom: 1vw;
}

.f-part-3{
    color: white;
    margin-top: 4vw;
    margin-left: 15vw;
}
.f-part-3 span{
    font: bolder;
    font-size: 2vw;
}
.f-part-3 p{
    opacity: 0.8;
    margin-top: 1vw;
    font-size: 1.2vw;
}

.f-follow-us{
    color: white;
    margin-top: 4vw;
    margin-left: 8vw;
}

.f-follow-us span{
    font: bolder;
    font-size: 2vw;
    margin-left: 1vw;
}
.icon-f{
    height: 6vw;
}